html {
    font-family: 'Lato', sans-serif;
}

#anteroom h1 {
    display: none;
}

#chat ul {
    border: 1px solid gray;
    height: 320px;
    overflow-y: scroll;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

#chat input[type="text"] {
    width: 80%;
    margin-left: 10px;
}

#chat input[type="button"] {
    width: 18%;
}

#chat ul li {
    margin: 0 0 1px 0;
    padding: 2px 4px;
}

#chat ul li.i {
    color: darkblue;
    background: #ddd;
}

#chat ul li span {
    display: inline-block;
    min-width: 10em;
    color: red;
}

#anteroom #gamers ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#anteroom #gamers ul li {
    padding: 8px 16px;
    margin: 2px 4px;
    display: inline-block;
    background: #9f7;
    cursor: pointer;
}

#game h3 {
    color: #ddd;
}

#game {
    position: relative;
}

#game #board, #game #chat {
    position: absolute;
    height: 650px;
}

#game #chat {
    left: 600px;
    right: 0;
}

#game #board table {
    border: 2px solid black;
}

#game #board table tr {
    margin: 0;
    padding: 0;
    border: 0;
}

#game #board table tr td {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid gray;
}

#game #board table tr td.o {
    /*background: #bcc;*/
    border: 0;
}

#game #board table tr td.b {
    background: #333;
    color: #eee;
}

#game #board table tr td span, #game #board table tr td {
    cursor: pointer;
}

#game #board table tr td span.b {
    color: red;
}

#game #board table tr td span.w {
    color: green;
}

#game #board table tr td.active {
    border: 1px dotted red;
}

#game #board table tr td.w {
    background: #eee;
}
#game #chat ul {
    height: 520px;
}

#game #chat input[type="text"] {
    margin: 0;
}

