@()

@main("Chess::Anteroom") {
        <div id="anteroom">
            <h1>Welcome to Chess anteroom, <span></span>!</h1>
            <div id="gamers">
                <h2>Pick a person and start a match instantly:</h2>
                <h2></h2>
                <ul></ul>
            </div>

            <div id="chat">
                <h2>Chat:</h2>
                <ul></ul>
                <div>
                    <input type="text" disabled/>
                    <input type="button" value="Send" disabled/>
                </div>
            </div>
        </div>

        <script type="text/javascript">$(function() { $.getScript("@routes.Assets.at("javascripts/anteroom.js")") });</script>

}