@(gameId: String, playerId: String, playerName: String, title: String)

@main("Chess") {
    <div id="game">
        <h1>Hello @playerName, you @title. Good luck with your game!</h1>
        <h3>...and everything else too, ofc.</h3>
        <div id="board">
            <h2>Board:</h2>
            <table></table>
        </div>
        <div id="chat">
            <h2>Chat:</h2>
            <ul></ul>
            <input type="text" disabled/>
            <input type="button" value="Send" disabled/>
        </div>
    </div>

    <script type="text/javascript">$(function() { gameId = '@gameId'; playerId = '@playerId'; $.getScript("@routes.Assets.at("javascripts/chess.js")") });</script>
}